<!DOCTYPE html>
<html>

<Head>
    <title>Message Me</title>
    <meta name="description" content="A messaging app" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link rel='stylesheet' href='../stylesheets/globals.css' />
    <link rel='stylesheet' href='../stylesheets/Home.module.css' />
    <!-- <script type="module" src="./record_script.js"></script> -->
</Head>
<main class="main">
    <div class="body">
        <div class="contactlist">
            <form onSubmit={submitForm}>
                <label htmlFor="Email"> Add friend's Email</label>
                <input type="text" name="Email" id="Email" required />
                <input type="submit" name="Add" value="Add" id="AddButton" />
            </form>
        </div>
        <div class="messagebodycontainer">
            <div id="messages" class="messagebody">
                <div>
                    <ul class="list-unstyled" id="ul"></ul>
                </div>
            </div>
            <div class="textbox">
                <input type="text" id="messagebox"></input>
                <button id="send">Send</button>
                <button id="recordBtn">Record</button>
                <button id="start">Start</button>
                <button id="stop">Stop</button>
            </div>
        </div>
    </div>
    <script src='/javascripts/messages.js'></script>
    <script src='/javascripts/recording.js'></script>
    <script src='/javascripts/friendsMiddleware.js'></script>
</main>

</html>